/*---------
 Colors
---------*/

@backgroundColor: #ebeef6;
@headerBackgroundColor: #383e49;
@titleFontColor: #474d58;
@categoryItemBorderColor: rgb(217, 221, 229);
@categoryCardTitleColor: #383e49;

@titleFontSize: 34px;

/* ----
	Media sizes
---- */
@screen-md-min: 970px;
@screen-md-max: 1210px;

@screen-sm-min: 650px;
@screen-sm-max: 970px;

@screen-xs-max: 650px;


.clearfix{
	&:after{
		display: block;
		clear:both;
	}
}

/* ----
	Normalization
----  */

*{
	box-sizing: border-box;
	margin: 0;
}

/* ----
 Load fonts
---- */

@font-face {

}

/* ----
	Styling
---- */

body{
	font-family: 'Proxima Nova Regular', Arial, sans-serif;
	font-size: 16px;

	background-color: @backgroundColor;
}

.header{
	text-align: center;
	background-color: @headerBackgroundColor;
}

.header__site-title{
	padding: 20px 10px;
	font-size: @titleFontSize;
	color: white;
}

.header__site-image{
	display: inline-block;
	margin-right: 20px;
	vertical-align: middle;
}

.сategories__title{
	padding: 25px 0;
	font-size: @titleFontSize;
	font-weight: bold;
	color: @titleFontColor;
	text-align: center;
}

.categories__list{
	margin: 0 auto;
	padding: 0 22px;

	.clearfix;
}

.categories__list-item{
	float: left;
	width: 25%;
	margin-bottom: 32px;
	padding: 0 16px;
}

.category-card{
	display: block;
	width: 100%;
	height: 279px;
	padding: 18px;
	border: 1px solid @categoryItemBorderColor;
	border-radius: 5px;
	background-color: white;
	text-decoration: none;
}
//243px

.category-card__image{
	position: relative;
	height: 172px;
	width: 100%;
}

.category-card__title{
	display: table;
	margin: 0 auto;
	font-size: 20px;
	text-align: center;
	color: @categoryCardTitleColor;

	.category-card__title-inner-text{
		height: 69px;
		display:table-cell;
		vertical-align:middle;
	}
}


/* -----
	Logos
----- */

.logo{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%)translateY(-50%);
}

.logo-transport{
	background-image: url('../images/logo-transport.svg');
	width: 92px;
	height: 95px;
	background-size: cover;
}

.logo-building{
	background-image: url('../images/logo-building.svg');
	width: 93px;
	height: 101px;
	background-size: cover;
}

.logo-publicity{
	background-image: url('../images/logo-publicity.svg');
	width: 102px;
	height: 81px;
	background-size: cover;
}

.logo-childhood{
	background-image: url('../images/logo-childhood.svg');
	width: 112px;
	height: 84px;
	background-size: cover;
}

.logo-reestration{
	background-image: url('../images/logo-reestration.svg');
	width: 95px;
	height: 106px;
	background-size: cover;
}

.logo-business{
	background-image: url('../images/logo-business.svg');
	width: 102px;
	height: 99px;
	background-size: cover;
}

.logo-ses{
	background-image: url('../images/logo-ses.svg');
	width: 97px;
	height: 99px;
	background-size: cover;
}

.logo-gek{
	background-image: url('../images/logo-gek.svg');
	width: 80px;
	height: 104px;
	background-size: cover;
}

/* -----
	Media requests
----- */

@media (min-width: @screen-md-min) and (max-width: @screen-md-max){
	.categories__list-item{
		width: 33.33333%;
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
	.categories__list-item{
		width: 50%;
	}
}

@media (max-width: @screen-xs-max){
	.categories__list-item{
		width: 100%;
	}
}
